 <section>
<div>
<h2>Contacts</h2>
<ul>
<li>
<p>CAFE</p>
<ul>
    <li>Chicago</li>
    <li><a href="https://goo.gl/maps/Kw5vxRkoTpCiJcF1A" target="_blank" 
     rel="noreferrer nofollow noopener"></a><span>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span></li>
</ul>
<ul>
   <li>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
   </li>
   <li>
     <p>Saturday - Sunday</p>
     <p>08:00 AM - 16:00 PM</p>
   </li>
</ul>
<address>
<ul> 
    <li><a href="tel:+610383766284"></a>+61(0) 383 766 284</li>
    <li><a href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
</ul>
</address>
</li>

<li>
    <p>FOOD TRUCK</p>
    <ul>
        <li>Los Angeles</li>
        <li><a href="https://goo.gl/maps/5bCQuFrbS8B1dVzc8" target="_blank" 
         rel="noreferrer nofollow noopener"></a><span>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</span></li>
    </ul>
    <ul>
       <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
       </li>
       <li>
         <p>Saturday - Sunday</p>
         <p>08:00 AM - 16:00 PM</p>
       </li>
    </ul>
    <address>
    <ul> 
        <li><a href="tel:+610383766284"></a>+61(0) 383 766 284</li>
        <li><a href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
    </ul>
    </address>
    </li>

    <li>
        <p>CAFE</p>
        <ul>
            <li>New York</li>
            <li><a href="https://goo.gl/maps/jNL78KUo4v3V4BWY6" target="_blank" 
             rel="noreferrer nofollow noopener"></a><span>726 Sterling Pl, Brooklyn, NY 11222, USA</span></li>
        </ul>
        <ul>
           <li>
              <p>Monday - Friday</p>
              <p>06:00 AM - 10:00 PM</p>
           </li>
           <li>
             <p>Saturday - Sunday</p>
             <p>08:00 AM - 16:00 PM</p>
           </li>
        </ul>
        <address>
        <ul> 
            <li><a href="tel:+610383766284"></a>+61(0) 383 766 284</li>
            <li><a href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
        </ul>
       </address>
        </li>
</ul>

<ul>
<li>
    <button type="button">Our Locations</button>
</li>
<li>
    <button type="button">Franchise</button>
</li>

</ul>
</div>    
 </section>   
